.login{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    border-radius:20px;
    box-shadow: 0 0 15px 5px rgb(88, 82, 82);
    background-color: white;
    position: relative;
    justify-content: center;
    margin-left: 25vw;margin-top: 25vh;
 
}

.login > input{

    border-radius:8px ;
    border: 2px solid rgb(71, 64, 64);
    outline: none;
    color:black;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 80%;
    font-size: 1rem;


}

.login > .button{
    background: #1877f2;
    border: 1px solid #1877f2;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin:0.5rem,0 ;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 80%;
    text-align: center;
    }